body{
    background-color:#222222;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#photo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;

}
.header{
    list-style-type: none;
    padding : 0;
    text-align: center; 
    background-color: #6699cc;
    margin-bottom:0; 
}
.content{
    margin: auto;
    padding:20px;
    background-color: whitesmoke;
}
#Name{
    display: inline-block;
    margin:auto
}
#About{
    display: inline-block;
    margin:auto
}
#Hobbies{
    display: inline-block;
    margin:auto
}
#Links{
    display: inline-block;
    margin:auto;

}
#aboutSection{
    text-align: center;
}
#hobbiesSection{
    text-align: center;
}
#linksSection{
    text-align: center;
}
.button{
    border: 3px solid black;
    padding: 10px;
    border-radius: 3px;
    background-color: beige;
}
/*bug fixng */