

@media (max-width: 600px){
  .facecard{
    display: flex;
    align-items: center;
  }
  .footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}
@media (min-width: 600px){
  .facecard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .about{
  margin:0 auto;
  text-align: center;
  width: 600px;
  }
  .footer_content{
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

.facecard p{
  overflow: hidden;
  width: 50vh;
}
@media (min-width: 600px){

}
.header{
  font-size: 40px;
}

.circle {
  object-fit: cover;
  min-width: 150px;
  min-height: 150px;
  max-width: 400px;
  max-height: 400px;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background-color: #555;
}

.icon {
  width: 40px;
  height: 40px;
}

.footer_row{
  display: flex;
  align-items: center;
  gap: 15px;
}