#root {
  margin:0 auto;
  text-align: center;
}

.card{
  border-radius: 5px;
  padding: 20px;
  margin: 20px; 
  background-color: #2a2a2a;
}

.navbar{
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar h1{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
}
.navbar ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: flex;
}

.navbar li{
  float: left;
}

.navbar li a{
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}